.chatbubbleleft {
    max-height: 3rem;
    cursor: default;
    line-height: 1rem;
}

.chatbubbleright {
    max-height: 3rem;
    cursor: default;
    line-height: 1rem;
}

.msgandshowmoreright {
    width: 50%;
    margin-left: auto;
    margin-right: 0%;
    background-color: rgb(213, 228, 255);
    padding: 5px;
    border: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.msgandshowmoreleft {
    width: 50%;
    margin-left: 0%;
    margin-right: auto;
    background-color: lightgray;
    padding: 5px;
    border: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container {
    padding-top: 15px;
    padding-left: 15px;
}

.link {
    color: rgb(59, 59, 59);
    font-family: "Open-sans", sans-serif;
}

.link:hover {
    cursor: pointer;
}