.container {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 20px;
  min-width: 250px;
  background-color: white;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container:hover {
  background-color: rgb(238, 245, 255);
  border-color: black;
}

.container:active {
  background-color: rgb(172, 206, 255);
  border-color: black;
}

.image {
  border-radius: 50%;
}

.textContainer {
  margin: 2rem;
}

.firstName {
  text-align: left;
  text-size-adjust: 150%;
  font-family: "Open-sans", sans-serif;
  font-size: 200%;
}

.lastName {
  text-align: left;
  font-family: "Open-sans", sans-serif;
  
}
